body {
  background-image: url('img/kuromi.jpg'); /* Ganti 'kuromi.jpg' dengan nama gambar Anda */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-hidden {
  display: none;
}
.hamburger span {
  transition: transform 0.3s, opacity 0.3s;
}

.nav-hidden {
  display: none;
}

.hamburger span {
  transition: transform 0.3s, opacity 0.3s;
}

.section-border {
  border: 2px solid #ddd;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.section-title {
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fade-in {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out;
}
